body {
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

header {
    position: relative;
    height: 65vh;
    overflow: hidden;
    color: white;
    text-align: center;
    margin-bottom: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: clamp(1.8rem, 3.8vw, 4rem);
    font-weight: bold;
}

.typewriter {
    width: 15.5ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #212121;
    animation: cursor 1s step-start infinite, text 3s steps(18) alternate;
}

@keyframes cursor {
    0%, 100% { 
      border-color: #212121; 
    }
}

@keyframes text {
    0% { 
      width: 0; 
    }
    100% { 
      width: 15.5ch; 
    }
}

a {
    text-decoration: none;
    color: white;
}
p {
    margin-top: 5px;
}

.title {
    position: absolute;
    top: 7%;
    left: 15%;
    transform: translate(-50%, -100%);
    z-index: 1;
    opacity: 0;
    animation: fadeInText 2s forwards;
}

.title-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    filter: brightness(30%);
    opacity: 0;
    animation: fadeInImage 2s forwards;
}

.title-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
    opacity: 0;
    animation: fadeInText 2s forwards;
}

.title-text h1 {
    white-space: nowrap;
    font-size: 3em;
    margin: 0;
    font-weight: 700;
}
.title-text h3 {
    white-space: nowrap;
    font-size: 1em;
    margin: 0;
    font-weight: 700;
    color: lightskyblue;
}
.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
  }
  .scroll {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    animation: down 1.3s infinite;
    -webkit-animation: down 1.3s infinite;
    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 14.5px;
      width: 18px;
      height: 18px;
      border-left: 2px solid #333;
      border-bottom: 2px solid #333;
      transform: rotate(-45deg);
    }
  }
  
  @keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(17px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  @-webkit-keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(17px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  
.content-section {
    padding: 80px 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.content-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 700;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;  /* Adjusted transition speed */
    cursor: pointer;
    width: 250px;
    position: relative; 
    overflow: hidden; 
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.search-area {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1000px;
    position: relative; 
    overflow: hidden; 
}

#searchInput {
    background-color: #f2f2f2;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchInput:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#results a {
    color: black;
}

#results > li > a:hover {
    text-decoration: underline;
}

#results li {
    text-align: left;
}

#results > li > ul {
    margin-top: 6px;
    padding-left: 30px;
}
#results > li > ul > li {
    margin-top: 6px;
}
#results > li > ul > li:nth-child(1) {
    margin-top: 0;
}
#search > .route {
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.card h3 {
    font-weight: 700;
}
.lounge-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;  /* Adjusted transition speed */
    cursor: pointer;
    width: 250px;
    position: relative; 
    overflow: hidden; 
}

.lounge-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.lounge-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.lounge-card h3 {
    font-weight: 700;
}

.locker-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;  /* Adjusted transition speed */
    cursor: pointer;
    width: 250px;
    height: 350px;
    position: relative; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.locker-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    z-index: 0;
}

.locker-card h3 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.locker-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
/* Modal 스타일 추가 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s;
    position: relative;
    text-align: center; /* 추가 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-image {
    width: 90%;
    max-height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInImage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .title-text h1 {
        font-size: 1.8em;
    }
    .title-text h3 {
        font-size: -0.8em;
    }
    

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }
    .lounge-card {
        width: 100%;
        margin: 10px 0;
    }
    .locker-card {
        width: calc(100% - 20px);
        margin: 10px 0;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .locker-card {
        width: calc(50% - 20px);
    }
}



.route {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

.route img {
    width: 35%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 90px;
    margin-left: 90px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.route-text {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.route-text h3 {
    font-size: 2em;
    margin: 10;
    font-weight: 700;
    color: black;
}
.route-text p {
    font-size: 1em;
    margin: 0;
    color: black;
}

@media (max-width: 1200px) {
    .route {
        flex-direction: column; 
        align-items: center; 
        margin-left: 10px;
        margin-right: 10px;
    }

    .route img {
        width: 80%; 
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .route-text {
        font-size: 1em;
        text-align: center;
        margin-right: 0; 
        margin-left: 0;
    }
}